name: Deploy to Firebase and Comment on Pull Request

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build the React app
        run: npm run build

      - name: Deploy to Firebase
        run: |
          npm install -g firebase-tools
          firebase deploy --project react-git-ci-cd --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Extract Firebase URL
        id: extract_url
        run: |
          FIREBASE_HOSTING_URL=$(firebase hosting:channel:describe preview --project $FIREBASE_PROJECT --json | jq -r '.previewUrl')

           # Output the URL for later use in the next step
           echo "FIREBASE_HOSTING_URL=$FIREBASE_HOSTING_URL" >> $GITHUB_ENV
        continue-on-error: true
